@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Wendy+One&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(21, 15, 31, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: radial-gradient(50% 50% at 50% 50%, #6927df 0%, #391579 100%);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: radial-gradient(50% 50% at 50% 50%, #6927df 0%, #391579 100%);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: radial-gradient(50% 50% at 50% 50%, #6927df 0%, #391579 100%);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Albert Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Albert Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 120px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Wendy One;
  font-size: 64px;
  font-weight: 400;
  line-height: 76.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}

.home-text {
  color: rgba(255, 255, 255, 1);
  font-family: Albert Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 16px 50px 315px;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;

    padding: 120px 0px 0px;
    background-image: url("/image/home/Hero\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 448px;
    margin: auto;
  }
  .home-title {
    font-family: Wendy One;
    font-size: 100px;
    font-weight: 400;
    line-height: 120px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .home-text {
    font-family: Albert Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 0px 50px 101px;
  }
}
.about {
  padding: 80px 16px 0px;
  margin: auto;
  width: 375px;
  height: 881px;
  position: relative;
  z-index: 2;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/image/about/Game\ Description.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.about-title {
  font-family: Wendy One;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(59, 22, 126, 1);
}

.about-text {
  margin-top: 51px;
  padding: 24px;
  background: radial-gradient(50% 50% at 50% 50%, #6927df 0%, #391579 100%);
  border-radius: 32px;
  font-family: Albert Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 256px 0px;
    margin: auto;
    width: 1440px;
    height: 661px;
  }

  .about::before {
    background-image: url("/image/about/Game\ Description\ \(1\).png");
  }

  .about-title {
    font-family: Wendy One;
    font-size: 64px;
    font-weight: 400;
    line-height: 76.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    margin-top: 80px;
    padding: 64px;
    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.uniqueness {
  width: 375px;
  height: 483px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/uniqueness/Our\ Uniqueness.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.uniqueness-title {
  color: rgba(254, 253, 2, 1);
}
.uniqueness-text {
  color: rgba(255, 255, 255, 1);
  font-family: Albert Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 650px;
    padding: 80px 448px 0;
    background-image: url("/image/uniqueness/Our\ Uniqueness\ \(1\).png");

    gap: 70px;
  }

  .uniqueness-text {
    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.how-list {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.how-text-bold {
  color: rgba(59, 22, 126, 1);
  font-family: Albert Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.how-text {
  padding-top: 8px;
  font-family: Albert Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.how-img {
  width: 343px;
  height: 381px;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
}

.how-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    margin: auto;
    padding: 80px 160px;
  }
  .how-div {
    display: flex;
    gap: 32px;
    padding-top: 80px;
  }
  .how-list {
    width: 544px;

    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .how-text-bold {
    font-family: Albert Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .how-text {
    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .how-img {
    width: 544px;
    height: 540px;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}
.faq-container {
  margin-top: 40px;
  background: radial-gradient(50% 50% at 50% 50%, #6927df 0%, #391579 100%);
  padding: 32px;
  border-radius: 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-question {
  font-family: Albert Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(254, 253, 2, 1);
}

.faq-answer {
  color: rgba(255, 255, 255, 1);
  padding-top: 8px;
  font-family: Albert Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 256px;

    width: 1440px;
    height: 894px;

    position: relative;
    z-index: 2;
  }

  .faq::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/image/FAQ.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }

  .faq-container {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .faq-question {
    font-family: Albert Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .faq-answer {
    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.gallery {
  width: 375px;

  margin: auto;
  padding: 40px 0px;
}

.gallery__list {
  width: auto;
  padding-top: 65px;
  padding-bottom: 30px;
  margin: auto;
}
.gallery__item {
  width: 343px;
  height: 193px;

  overflow: hidden;
  position: relative;
  margin: 0 5px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 896px;

    background-image: url("/image/gallery/Gallery.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    padding: 80px 160px;
  }

  .gallery__item {
    width: 928px;
    height: 522px;
    margin: 0 10px;
  }

  .gallery__list {
    width: auto;
    padding: 80px 0 40px;
  }
}
.features {
  width: 375px;
  padding: 40px 16px;
  margin: auto;
}

.features-list {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features-img {
  width: 347px;
  height: 402px;

  border-radius: 32px;

  overflow: hidden;
  position: relative;
}

.features-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 1042px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/features/Features.png");
    padding: 80px 160px;
  }

  .features-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 544px;
  }
  .features-div {
    display: flex;
    gap: 32px;
    flex-direction: row-reverse;
    padding-top: 80px;
  }
  .features-img {
    width: 544px;
    height: 645px;
    overflow: hidden;
    position: relative;
  }

  .features-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.reviews {
  width: 375px;
  border-radius: 32px 32px 0px 0px;
  margin: auto;
  padding: 40px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/image/reviews/User\ Reviews\ \(1\).png");
}

.reviews-list {
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}
.reviews-item {
  margin: 0 8px;
  width: 327px;
  height: 131px;
}

.reviews-text-bold {
  font-family: Albert Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}
.reviews-text {
  color: #ffffff;
  padding-top: 8px;
  font-family: Albert Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 524px;
    margin: auto;
    padding: 80px 160px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/image/reviews/User\ Reviews\ \(2\).png");
  }

  .reviews-list {
    padding: 80px 0 40px 536px;
  }
  .reviews-item {
    margin: 0 8px;
    width: 544px;
    height: 92px;
  }

  .reviews-text-bold {
    font-family: Albert Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .reviews-text {
    font-family: Albert Sans;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-button-container-two {
    display: flex;
    align-items: end;
    justify-content: end;
  }
}
.footer {
  background: radial-gradient(50% 50% at 50% 50%, #6927df 0%, #391579 100%);

  color: #ffffff;
  padding: 40px 0px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Albert Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Albert Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 42px 0px 16px;
  }
  .footer-container {
    gap: 38px;
  }

  .footer-wrapper {
    gap: 16px;
  }
  .footer-text {
    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Albert Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  padding: 120px 16px 140px;
}
.policy-terms-title {
  font-family: Wendy One;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Albert Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Albert Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Albert Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Albert Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Albert Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 160px 80px;
  }
  .policy-terms-title {
    font-family: Wendy One;
    font-size: 64px;
    font-weight: 400;
    line-height: 76.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Albert Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  border-radius: 20px;
  padding: 30px;
  background: radial-gradient(50% 50% at 50% 50%, #6927df 0%, #391579 100%);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Albert Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(241, 238, 233, 1);
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  font-family: Albert Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 256px;
  height: 55px;
  padding: 12px 32px 16px 32px;
  border-radius: 28px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
}
#accept-cookies {
  color: rgba(21, 15, 31, 1);

  background: rgba(255, 255, 255, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 600px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1272px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
